<html>
<title> chef kapil  </title>
<h1> welcome to chef template </h1>
<h2> The hostname is <%= node['hostname'] %> </h2>
<body>
the plateform is <%= node['platform'] %> .<br>
total memory is <%= node['memory']['total'] %> .<br>
</body>
</html>

